## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: whonix-gw-desktop-shortcuts
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile
Homepage: https://github.com/Whonix/whonix-gw-desktop-shortcuts
Vcs-Browser: https://github.com/Whonix/whonix-gw-desktop-shortcuts
Vcs-Git: https://github.com/Whonix/whonix-gw-desktop-shortcuts.git
Standards-Version: 3.9.8

Package: whonix-gw-desktop-shortcuts
Architecture: all
Depends: anon-gw-base-files, sudo, ${misc:Depends}
Recommends: anon-icon-pack
Description: Desktop Icons for Whonix-Gateway
 A metapackage, that creates shortcuts on the desktop, which are useful for
 Whonix-Gateway.
 .
 For better usability.
 .
 Safe to remove.
